html {
    width: 100%;
    height: 100%;
    --lavender: #e6e6fa;
    --header: rgb(255, 27, 236);
    --main: white;
    --box: 10px 15px .3em .3em rgb(104, 104, 104);
}

body {
    margin: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: var(--lavender);
    /*background-image:linear-gradient(to bottom, #6166f5, #9072ed, #ae81e6, #c492e0, #d3a5dd, #e7aed8, #f5b9d5, #fec6d4, #ffcdc8, #ffd9bb, #ffe8b4, #fef9b6);
    background-repeat: no-repeat;
    background-size:cover;
    */
}

body > * {
    width: 60%;
}

.banner {
    height: 130px;
    position: relative;
    display: flex;
    justify-content: center;
}

#logo {
    position: absolute;
    z-index: 0;
}

header {
    background-color: var(--header);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
    font-weight: bolder;
}

.headerLink {
    width: 20%;
    height: 50px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.linkTop {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
}

.linkBottom {
    position: absolute;
    visibility: hidden;
    top: 50px;
    width: 100%;
    background-color: var(--header);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.linkBottom a {
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

.linkBottom a:visited {
    color: white;
}

.linkBottom a:hover {
    text-decoration: underline;
}

.headerLink:hover .linkBottom {
    visibility: visible;
}

main {
    margin-top: 50px;
    background-color: var(--main);
    box-shadow: var(--box);
    height: fit-content;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        'one two'
        'three four'
        'five six';
    margin-bottom: 100px;
    padding-bottom: 50px;
}

.art {
    display: flex;
    justify-content: center;
    align-items: center;
}

.art img {
    width: 90%;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}
